# --- JAVA & MAVEN ---
# Ignorar archivos compilados (la basura pesada)
**/target/
**/build/
**/dist/
*.class
*.jar
*.war

# --- NETBEANS ---
# Ignorar configuraciones locales que bloquean proyectos
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nb-configuration.xml
.netbeans/

# --- IDEs EXTRAS (Por si alguien usa VS Code o IntelliJ) ---
.vscode/
.idea/
*.iml

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db